{% extends "base.html" %}
{% block head_title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python немного
      </li>
      <li class="list-group-item">
        И чуть-чуть Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>"Технологии" наше всё!</p>
    <p>Тут могло быть что-то интересное, но я сильно отстаю от потока и надо скорее идти дальше((</p>
  </article>
</div>
{% endblock %}